@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'FredokaOne-Regular';
    src: url('../fonts/HelveticaNeue.eot');
    src: url('../fonts/FredokaOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: ProximaNovaSoft-Medium;
    src: url(/assets/css/webfonts/2BE0B8_0_0.eot);
    src: url(/assets/css/webfonts/2BE0B8_0_0.eot?#iefix) format("embedded-opentype"), url(/assets/css/webfonts/2BE0B8_0_0.woff) format("woff"), url(/assets/css/webfonts/2BE0B8_0_0.ttf) format("truetype")
}

@font-face {
    font-family: ProximaNovaSoft-Regular;
    src: url(/assets/css/webfonts/2BE0B8_3_0.eot);
    src: url(/assets/css/webfonts/2BE0B8_3_0.eot?#iefix) format("embedded-opentype"), url(/assets/css/webfonts/2BE0B8_3_0.woff) format("woff"), url(/assets/css/webfonts/2BE0B8_3_0.ttf) format("truetype")
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(/assets/css/webfonts/Montserrat-Regular.eot);
    src: url(/assets/css/webfonts/Montserrat-Regular.eot?#iefix) format("embedded-opentype"), url(/assets/css/webfonts/Montserrat-Regular.woff) format("woff"), url(/assets/css/webfonts/Montserrat-Regular.ttf) format("truetype")
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(/assets/css/webfonts/Montserrat-Bold.eot);
    src: url(/assets/css/webfonts/Montserrat-Bold.eot?#iefix) format("embedded-opentype"), url(/assets/css/webfonts/Montserrat-Bold.woff) format("woff"), url(/assets/css/webfonts/Montserrat-Bold.ttf) format("truetype")
}

html
{
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}
html,body{
    /*min-height: 100%;*/
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    letter-spacing: 0.0625em;
}
body{
    background: radial-gradient( #B689FD 30%, #5A2AE1 90%);
    position: relative;
    font-family: 'FredokaOne-Regular';
}

.abs_img{
    position: absolute;
}
.abs_img img{

}
.signin{
    top: 20px;
    left: 20px;
    font-size: 16px;
    color: #fff;
    z-index: 1020;
}
.signin a,a,a:hover{
    font-size: 16px;
    color: #fff;
}
.topLeft_img{
    left: 20px;
    top: 20px;
    /*    left: 1%;
        top: 1%;*/
}
.topRight_img{
    right: 120px;
    top: 0;
}
.topRight_img_layer{
    right: 110px;
    top: 0;
}
.close_img{
    right: 40px;
    top: 40px;
    /*    right: 3%;
    top: 15%;*/
}
.bottom_girl{
    bottom: 0;
    left: 50px;
    /*left: 4%;*/
}
.bottomRight_girl{
    bottom: 0;
    right:150px;
    /*right: 11.5%;*/
}
.bottomRight_girl_layer{
    bottom: 0;
    right:132px;
    /*right:10%;*/
}
.oval_5{
    top: 200px;
    left: 20px;
    /*top: 30%;
    left: 1%;*/
}
.oval_2{
    bottom: 150px;
    left: 20px;
    /*bottom: 25%;
    left: 1%;*/
}
.oval_4{
    top: 120px;
    right: 150px;
    /*top: 20%;
    right: 15%;*/
}
.oval_half{
    right: 0;
    top: 50%;
    margin-top: -25px;
}
.btn{
    /*padding: 15px 30px;*/
}
.btn-primary,.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open > .dropdown-toggle.btn-primary.focus, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover,.btn-primary.disabled.focus, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled].focus, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover{
    background: linear-gradient(#5DFDF1 , #11C7B8);
    border-radius: 12px !important;
    border-color: #11C7B8;
/*    box-shadow: 0px 2px rgba(48, 23, 70, 0.3);*/
    font-size: 14px !important;
   padding:10px 20px;
    border: 0px;
}
.btn-primary.btn-lg{
    padding: 30px 90px;   
}
.btn-default,.btn-default:hover,.btn-default:focus,.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open > .dropdown-toggle.btn-default.focus, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover{
    background-color: #fff;
    border-color: #F55A9E;
    color: #F55A9E;
    padding: 15px 45px;
}
div.error, label.error{
    color: red !important;
}
.mainBody{
    margin: 100px auto;
}
.brand{
    margin-top: 20px;
    margin-bottom: 30px;
}
.brand label{
    font-size: 25px;
    color: #FFF;
    /*opacity: 35%;*/
    text-shadow: 2px 2px #5512A5;
    background: linear-gradient(to right, transparent 10%, #664AD9 90%);

    /*width: 100%;*/
    padding: 10px;
    margin-bottom: 10px;
}
.brand p{
    font-size: 16px;
    color: #fff;
    /*opacity: 35%;*/
    text-shadow: 2px 2px #5512A5;
    width: 100%;
    line-height: 2;
    padding: 5px 5px 10px 10px;
    background: linear-gradient(to right,#8C6FE6 20%,#664AD9 80%);
}
.lastStep{
    font-size: 16px;
    color: #fff;
    /*opacity: 35%;*/
    text-shadow: 2px 2px #5512A5;
    width: 100%;
    line-height: 2;
    margin-top: 10px;
    padding: 5px 25px 25px 25px;
    background: linear-gradient(to right,#8C6FE6 20%,#664AD9 80%);

}
.brand h5 img,.brand h4img{
    width: 100%;
}
.form-control{
    border-radius: 13px;
    border: 1px solid #979797;
    height: 40px;
    box-shadow: 0px 1px rgba(0, 0, 0, 0.25);
}
.form-control::placeholder {
    /*color: #7845E7;*/
    opacity: 1; /* Firefox */
    font-size: 16px;
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    /*color: #7845E7;*/
    font-size: 16px;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    /*color: #7845E7;*/
    font-size: 16px;
}
.mar50{
    margin-bottom: 50px;
}
.trial .form-group{
    margin-bottom: 25px;
}
.orBreak{
    height: 140px;
    color: #fff;
    padding-top: 60px;
    font-size: 16px;
}
.orBreak::before{
    content:"";
    position: absolute;
    z-index: -1;
    top: 25px;
    bottom: 80px;
    right: 50%;
    border-right: 2px solid rgba(255, 255, 255, 0.3);
}.orBreak::after{
    content:"";
    position: absolute;
    z-index: -1;
    top: 85px;
    bottom: 20px;
    left: 48%;
    border-left: 2px solid rgba(255, 255, 255, 0.3);
}

.container{
    text-align: center;
}
.btn{
    font-size: 12px;
    border-radius: 2px;
}
.btn-social{position:relative;font-size: 16px;padding-left:60px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}.btn-social :first-child{position:absolute;
                                                                                                                                                                   left:30px;
                                                                                                                                                                   top:0;bottom:0;line-height:34px;font-size:1.6em;text-align:center;
                                                                                                                                                                   /*border-right:1px solid rgba(0,0,0,0.2)*/
}
.btn-social.btn-lg{padding-left:61px}.btn-social.btn-lg :first-child{line-height:45px;width:45px;font-size:1.8em}
.btn-social.btn-sm{padding-left:38px}.btn-social.btn-sm :first-child{line-height:28px;width:28px;font-size:1.4em}
.btn-social.btn-xs{padding-left:30px}.btn-social.btn-xs :first-child{line-height:20px;width:20px;font-size:1.2em}
.btn-social-icon{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;height:34px;width:34px;padding-left:0;padding-right:0}.btn-social-icon :first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
.btn-social-icon.btn-lg{padding-left:61px}.btn-social-icon.btn-lg :first-child{line-height:45px;width:45px;font-size:1.8em}
.btn-social-icon.btn-sm{padding-left:38px}.btn-social-icon.btn-sm :first-child{line-height:28px;width:28px;font-size:1.4em}
.btn-social-icon.btn-xs{padding-left:30px}.btn-social-icon.btn-xs :first-child{line-height:20px;width:20px;font-size:1.2em}
.btn-social-icon :first-child{border:none;text-align:center;width:100% !important}
.btn-social-icon.btn-lg{height:45px;width:45px;padding-left:0;padding-right:0}
.btn-social-icon.btn-sm{height:30px;width:30px;padding-left:0;padding-right:0}
.btn-social-icon.btn-xs{height:22px;width:22px;padding-left:0;padding-right:0}

.btn-facebook{
    color:#fff;
    background-color:#3C5A99;
    border-color:#3C5A99;
    border-radius: 25px;
}
.btn-facebook:hover,.btn-facebook:focus,.btn-facebook:active,.btn-facebook.active,.open .dropdown-toggle.btn-facebook{color:#fff;background-color:#30487b;border-color:rgba(0,0,0,0.2)}

.btn-facebook:active,.btn-facebook.active,.open .dropdown-toggle.btn-facebook{background-image:none}
.btn-facebook.disabled,.btn-facebook[disabled],fieldset[disabled] .btn-facebook,.btn-facebook.disabled:hover,.btn-facebook[disabled]:hover,fieldset[disabled] .btn-facebook:hover,.btn-facebook.disabled:focus,.btn-facebook[disabled]:focus,fieldset[disabled] .btn-facebook:focus,.btn-facebook.disabled:active,.btn-facebook[disabled]:active,fieldset[disabled] .btn-facebook:active,.btn-facebook.disabled.active,.btn-facebook[disabled].active,fieldset[disabled] .btn-facebook.active{background-color:#3b5998;border-color:rgba(0,0,0,0.2)}
.btn-google-plus,.btn-google-plus:hover,.btn-google-plus:focus,.btn-google-plus:active,.btn-google-plus.active,.open .dropdown-toggle.btn-google-plus{
    color:rgba(0, 0, 0, 0.485);
    background-color:#fff;
    border-radius: 25px;
    border-color:rgba(0,0,0,0.2);
    position: relative;
}
/*.btn-google-plus:hover,.btn-google-plus:focus,.btn-google-plus:active,.btn-google-plus.active,.open .dropdown-toggle.btn-google-plus{color:#fff;background-color:#ca3523;border-color:rgba(0,0,0,0.2)}*/
.btn-google-plus:active,.btn-google-plus.active,.open .dropdown-toggle.btn-google-plus{background-image:none}
.btn-google-plus.disabled,.btn-google-plus[disabled],fieldset[disabled] .btn-google-plus,.btn-google-plus.disabled:hover,.btn-google-plus[disabled]:hover,fieldset[disabled] .btn-google-plus:hover,.btn-google-plus.disabled:focus,.btn-google-plus[disabled]:focus,fieldset[disabled] .btn-google-plus:focus,.btn-google-plus.disabled:active,.btn-google-plus[disabled]:active,fieldset[disabled] .btn-google-plus:active,.btn-google-plus.disabled.active,.btn-google-plus[disabled].active,fieldset[disabled] .btn-google-plus.active{background-color:#dd4b39;border-color:rgba(0,0,0,0.2)}
.btn-social .fa,.btn-social img{
    line-height: 1.5;
}
.btn-google-plus img{
    position: absolute;
    left: 30px;
}
/*.fa-googleCustom::before{
    background-image: url(/assets/images/google-icon.png);
    width: 20px;
    height: 20px;
}*/

/************ CHECK BOX AND RADIIO **************/


.checkbox {
    padding-left: 20px; }
.checkbox label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 25px; }
.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 40px;
    height: 40px;
    /*  width: 17px;
      height: 17px;*/
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 39px;
    height: 39px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 3px;

    font-size: 22px;
    color: #555555; }
.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
    opacity: 0;
    z-index: 1; }
.checkbox input[type="checkbox"]:focus + label::before,
.checkbox input[type="radio"]:focus + label::before {
    outline: thin dotted;
    outline: 50px auto -webkit-focus-ring-color;
    outline-offset: -50px; }
.checkbox input[type="checkbox"]:checked + label::after,
.checkbox input[type="radio"]:checked + label::after {
    font-family: "FontAwesome";
    content: "\f00c";}
.checkbox input[type="checkbox"]:indeterminate + label::after,
.checkbox input[type="radio"]:indeterminate + label::after {
    display: block;
    content: "";
    width: 30px;
    height: 10px;
    background-color: #555555;
    border-radius: 50px;
    margin-left: -16.5px;
    margin-top: 2px;
}
.checkbox input[type="checkbox"]:disabled + label,
.checkbox input[type="radio"]:disabled + label {
    opacity: 0.65; }
.checkbox input[type="checkbox"]:disabled + label::before,
.checkbox input[type="radio"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed; }
.checkbox.checkbox-circle label::before {
    border-radius: 50%; }
.checkbox.checkbox-inline {
    margin-top: 0; }

.checkbox-primary input[type="checkbox"]:checked + label::before,
.checkbox-primary input[type="radio"]:checked + label::before {
    background-color: #337ab7;
    border-color: #337ab7; }
.checkbox-primary input[type="checkbox"]:checked + label::after,
.checkbox-primary input[type="radio"]:checked + label::after {
    color: #fff; }

.checkbox-danger input[type="checkbox"]:checked + label::before,
.checkbox-danger input[type="radio"]:checked + label::before {
    background-color: #d9534f;
    border-color: #d9534f; }
.checkbox-danger input[type="checkbox"]:checked + label::after,
.checkbox-danger input[type="radio"]:checked + label::after {
    color: #fff; }

.checkbox-info input[type="checkbox"]:checked + label::before,
.checkbox-info input[type="radio"]:checked + label::before {
    background-color: #5bc0de;
    border-color: #5bc0de; }
.checkbox-info input[type="checkbox"]:checked + label::after,
.checkbox-info input[type="radio"]:checked + label::after {
    color: #fff; }

.checkbox-warning input[type="checkbox"]:checked + label::before,
.checkbox-warning input[type="radio"]:checked + label::before {
    background-color: #f0ad4e;
    border-color: #f0ad4e; }
.checkbox-warning input[type="checkbox"]:checked + label::after,
.checkbox-warning input[type="radio"]:checked + label::after {
    color: #fff; }

.checkbox-success input[type="checkbox"]:checked + label::before,
.checkbox-success input[type="radio"]:checked + label::before {
    background-color: #5cb85c;
    border-color: #5cb85c; }
.checkbox-success input[type="checkbox"]:checked + label::after,
.checkbox-success input[type="radio"]:checked + label::after {
    color: #fff;}

.checkbox-primary input[type="checkbox"]:indeterminate + label::before,
.checkbox-primary input[type="radio"]:indeterminate + label::before {
    background-color: #337ab7;
    border-color: #337ab7;
}

.checkbox-primary input[type="checkbox"]:indeterminate + label::after,
.checkbox-primary input[type="radio"]:indeterminate + label::after {
    background-color: #fff;
}

.checkbox-danger input[type="checkbox"]:indeterminate + label::before,
.checkbox-danger input[type="radio"]:indeterminate + label::before {
    background-color: #d9534f;
    border-color: #d9534f;
}

.checkbox-danger input[type="checkbox"]:indeterminate + label::after,
.checkbox-danger input[type="radio"]:indeterminate + label::after {
    background-color: #fff;
}

.checkbox-info input[type="checkbox"]:indeterminate + label::before,
.checkbox-info input[type="radio"]:indeterminate + label::before {
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.checkbox-info input[type="checkbox"]:indeterminate + label::after,
.checkbox-info input[type="radio"]:indeterminate + label::after {
    background-color: #fff;
}

.checkbox-warning input[type="checkbox"]:indeterminate + label::before,
.checkbox-warning input[type="radio"]:indeterminate + label::before {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.checkbox-warning input[type="checkbox"]:indeterminate + label::after,
.checkbox-warning input[type="radio"]:indeterminate + label::after {
    background-color: #fff;
}

.checkbox-success input[type="checkbox"]:indeterminate + label::before,
.checkbox-success input[type="radio"]:indeterminate + label::before {
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.checkbox-success input[type="checkbox"]:indeterminate + label::after,
.checkbox-success input[type="radio"]:indeterminate + label::after {
    background-color: #fff;
}

.radio {
    padding-left: 20px; }
.radio label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px; }
.radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out; }
.radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
.radio input[type="radio"] {
    opacity: 0;
    z-index: 1; }
.radio input[type="radio"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
.radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); }
.radio input[type="radio"]:disabled + label {
    opacity: 0.65; }
.radio input[type="radio"]:disabled + label::before {
    cursor: not-allowed; }
.radio.radio-inline {
    margin-top: 0; }

.radio-primary input[type="radio"] + label::after {
    background-color: #337ab7; }
.radio-primary input[type="radio"]:checked + label::before {
    border-color: #337ab7; }
.radio-primary input[type="radio"]:checked + label::after {
    background-color: #337ab7; }

.radio-danger input[type="radio"] + label::after {
    background-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::before {
    border-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::after {
    background-color: #d9534f; }

.radio-info input[type="radio"] + label::after {
    background-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::before {
    border-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::after {
    background-color: #5bc0de; }

.radio-warning input[type="radio"] + label::after {
    background-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::before {
    border-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::after {
    background-color: #f0ad4e; }

.radio-success input[type="radio"] + label::after {
    background-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::before {
    border-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::after {
    background-color: #5cb85c; }

input[type="checkbox"].styled:checked + label:after,
input[type="radio"].styled:checked + label:after {
    font-family: 'FontAwesome';
    content: "\f00c"; }
input[type="checkbox"] .styled:checked + label::before,
input[type="radio"] .styled:checked + label::before {
    color: #fff; }
input[type="checkbox"] .styled:checked + label::after,
input[type="radio"] .styled:checked + label::after {
    color: #fff; }




/*
.checkbox {
    padding-left: 20px; }
.checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555; }
.checkbox input[type="checkbox"] {
    opacity: 0; }
.checkbox input[type="checkbox"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
.checkbox input[type="checkbox"]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\f00c"; }
.checkbox input[type="checkbox"]:disabled + label {
    opacity: 0.65; }
.checkbox input[type="checkbox"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed; }
.checkbox.checkbox-circle label::before {
    border-radius: 50%; }
.checkbox.checkbox-inline {
    margin-top: 0; }

.checkbox-primary input[type="checkbox"]:checked + label::before {
    background-color: #428bca;
    border-color: #428bca; }
.checkbox-primary input[type="checkbox"]:checked + label::after {
    color: #fff; }
.radio {
    padding-left: 20px; }
.radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
.radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out; }
.radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
.radio input[type="radio"] {
    opacity: 0; }
.radio input[type="radio"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
.radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); }
.radio input[type="radio"]:disabled + label {
    opacity: 0.65; }
.radio input[type="radio"]:disabled + label::before {
    cursor: not-allowed; }
.radio.radio-inline {
    margin-top: 0; }

.radio-primary input[type="radio"] + label::after {
    background-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::before {
    border-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::after {
    background-color: #428bca; }

*/
.formContent label{
    font-size: 12px;
    font-weight: normal;
    color: #555;
}
.aLink,.aLink:hover{
    color: #f55a9e;
}
.socialLogin{
    margin-top: 15px;
}
.socialLogin a{
    margin-bottom: 15px;
    height: 40px;
}
.subcripfull {
    padding: 10px;
    margin: 0 0 20px;
    cursor: pointer;
}
.subcripfull.product {
    background-color: #eaeaea;;
    color: #000;
    border: 1px solid #eee;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 6px 0 rgba(0,0,0,.2),0 1px 6px 0 rgba(0,0,0,.19);
    box-shadow: 0 1px 6px 0 rgba(0,0,0,.2),0 1px 6px 0 rgba(0,0,0,.19);
}
#checkboxes .col-xs-9 {
    text-align: left;
}
.package {
    line-height: 1;
    cursor: pointer;
}
.lPackage {
    font-weight: bold;
    font-size: 18px;
    text-align: left;
}
.package-righ {
    text-align: right;
    cursor: pointer;
}
.selectedPackage{
    background-color: #fff !important;
    border: 1px solid #F55A9E !important;
}
.fancy {
    line-height: 0.5;
    text-align: center;
}
.fancy span {
    display: inline-block;
    position: relative;
    font-size: 16px;
    color: #fff;
    margin-top: 20px;
}
.fancy span:before,
.fancy span:after {
    content: "";
    position: absolute;
    height: 5px;
    /*border-bottom: 1px solid white;*/
    border-top: 2px solid rgba(255, 255, 255, 0.3);
    top: 3px;
    width: 30px;
}
.fancy span:before {
    right: 100%;
    margin-right: 15px;
}
.fancy span:after {
    left: 100%;
    margin-left: 15px;
}
.fixed-bottom{
    position: fixed;
}
.close_img.abs_img,.signin.abs_img{
    display: block !important;
}
.lastP{
    /*margin-bottom: 100px;*/
    /*padding-bottom: 200px;*/
}
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}
@media (max-width:767px) {
    .abs_img{
        /*display: none;*/
    }
    .topLeft_img img{
        height: 70px;
    }
    .topRight_img img{
        height: 50px;
    }
    .topRight_img_layer img{
        height: 60px;
    }
    .topRight_img_layer{
        right: 60px;
    }
    .topRight_img {
        right: 68px;
    }
    .bottom_girl img{
        height: 60px;
    }
    .bottom_girl {
        left: 25px;
        z-index: -1030;
    }
    .bottomRight_girl_layer {
        right: 20px;
        z-index: -1030;
    }
    .bottomRight_girl_layer img{
        height: 80px;
    }
    .bottomRight_girl {
        right: 30px;
        z-index: -1030;
    }
    .bottomRight_girl img{
        height: 70px;
    }
}
#device_area{
     margin-bottom: 10px;
    transition: border .3s linear;
    background-color: #fff;
    padding: 10px 25px ;
    border-radius: 4px;   
}

#device_area h4
{
    margin:0px;
}
/* The container */
.dev_are { 
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#device_area label
{
    display: inline;
}
#device_area p
{
    color: #666666;
    font-family: ProximaNovaSoft-Regular;
}
/* Hide the browser's default checkbox */
.dev_are  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #f1f1f1;
    border-radius: 50px;
}
/* On mouse-over, add a grey background color */
.dev_are :hover input ~ .checkmark {
    background-color: #13c0d0;
}

/* When the checkbox is checked, add a blue background */
.dev_are  input:checked ~ .checkmark {
    background-color: #f1f1f1;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
/* Show the checkmark when checked */
.dev_are  input:checked ~ .checkmark:after {
    display: block;
}
/* Style the checkmark/indicator */
.dev_are  .checkmark:after {
    left: 14px;
    top: 7px;
    width: 14px;
    height: 22px;
    border: solid #13c0d0;
    border-width: 0 5px 5px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.man_dev
{
    background-color: #f5f5f5;
    padding: 20px 60px;
    color: #666666;
}
.man_dev h2{
    margin-bottom: 30px;
}