@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeue.eot');
    src: local('â˜º'), url('../fonts/HelveticaNeue.woff') format('woff'), url('../fonts/HelveticaNeue.ttf') format('truetype'), url('../fonts/HelveticaNeue.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: ProximaNovaSoft-Medium;
    src: url(/assets/css/webfonts/2BE0B8_0_0.eot);
    src: url(/assets/css/webfonts/2BE0B8_0_0.eot?#iefix) format("embedded-opentype"), url(/assets/css/webfonts/2BE0B8_0_0.woff) format("woff"), url(/assets/css/webfonts/2BE0B8_0_0.ttf) format("truetype")
}

@font-face {
    font-family: ProximaNovaSoft-Regular;
    src: url(/assets/css/webfonts/2BE0B8_3_0.eot);
    src: url(/assets/css/webfonts/2BE0B8_3_0.eot?#iefix) format("embedded-opentype"), url(/assets/css/webfonts/2BE0B8_3_0.woff) format("woff"), url(/assets/css/webfonts/2BE0B8_3_0.ttf) format("truetype")
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(/assets/css/webfonts/Montserrat-Regular.eot);
    src: url(/assets/css/webfonts/Montserrat-Regular.eot?#iefix) format("embedded-opentype"), url(/assets/css/webfonts/Montserrat-Regular.woff) format("woff"), url(/assets/css/webfonts/Montserrat-Regular.ttf) format("truetype")
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(/assets/css/webfonts/Montserrat-Bold.eot);
    src: url(/assets/css/webfonts/Montserrat-Bold.eot?#iefix) format("embedded-opentype"), url(/assets/css/webfonts/Montserrat-Bold.woff) format("woff"), url(/assets/css/webfonts/Montserrat-Bold.ttf) format("truetype")
}

html
{
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}
html,body{
    min-height: 100%;
    height: 100%;
}
.container
{
    width: 100%; 
    padding: 0;
    /*padding-top: 80px;*/
}
img.company-logo {
    display: inline;
    margin: 7px 20px 0 0; }

.cansub{
    font-style: italic;
    cursor: pointer;
}
.brandname{
    margin-left: 30px;
}
a:focus {
    outline: 0;
    outline: 0;
    outline-offset:0;
}
:focus,:active {
    outline: 0;
}
.error
{
    color: #F05B65;
    padding-left: 5px;
}
h1 {
    position: relative;
}
/************ RADIO ***********/

.radio_container {
    border: 1px solid rgb( 164, 203, 217 );
    border-radius: 10px;
    background-color: rgb( 255, 255, 255 );
    -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, .2);
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, .2);
    padding: 4%;
    max-width: 270px;
    text-align: center;
    margin: 0 auto 5%;	
}
.radio_container p {
    margin:0px 10px 10px 0px;
}
.or_radio {
    /*	display: inline-block;*/
    font-size: 20px;
    margin:0 auto;
    min-width: 40px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    vertical-align: text-top;

}
.pricing_radio {
    text-align: center;
    margin: 2% 0;
}
.price_radio {
    margin: 5% 2% 0;
}
.onlypr{
    font-size: 18px;
    font-weight: bold;
}

.price {
    color: #0175ac;
    font-size: 2.375em;
    font-weight: bold;
}
.tenure {   

    font-weight: normal;
}
.radtit {

    font-weight: bold;
}
/******** BUTTTONS*************/
.tab-bg .btn-primary, .tab-bg .btn-default {

}
.radiobtn span.glyphicon {    			
    opacity: 0;		
    padding-right:  4px;
}
.radiobtn.active span.glyphicon {				
    opacity: 1;	

}

/****************SECTIONS*************/
.form-signin {
    max-width: 940px;
    margin: 0 auto;
    min-height: 100%;
}
.form_content {
    /*border: 1px solid #e7e7e7;*/
    background-color: #F4F4F4;
    /*box-shadow: 0 0 5px #888;*/
    z-index: 3;
    /*min-height: 100%;*/
    border-radius: 0 0.25em 0.25em 0;
    padding: 20px;
    margin-bottom: 20px;
}
.login_bg {
    border-color: #cccccc;
    border-style: solid;
    border-width: 1px;
    margin: 2% 0;
    padding: 20px;
    /*    background:  url("../images/bg_trans.png");
        color: #333333;
        padding: 20px;
        margin: 2% auto;*/

}
.footable > tbody > tr > td .btn-social-icon{
    float: left;
}
.btn-primary.btn-sm{
    width: auto;
padding: 5px 10px;
float: left;
}
.socialConnect .footable-toggle{
    line-height: 45px;
}
#login_btn.btn{
    float: none;
    /*margin-bottom: 10px;*/
}
.socialGrp.edit .btn-facebook{
    margin-left: 15px;
}
.login_bg2 {
    /*    color: #000000;*/
    max-width: 470px;
    margin: 0 auto;
    /*padding:3%;*/
    background:  url("../images/bg_trans.png");
}
.login_bg2 h1 {
    /*    color: #3b3b3b;	*/
    font-size: 16px;
    line-height: 1;
    font-weight: bold;
}
.login_bg2 h2 {
    /*    color: #3b3b3b;	*/
    font-size: 22px;
    line-height: 1;
    font-weight: bold;
}
.login_bg h1 {
    /*    color: #3b3b3b;	*/
    font-size:20px;
    line-height: 1;
    font-weight: bold;
}
.login_bg h2, h3, h4, h5, h6 {	
    font-weight: normal;
}

.login_bg .tagline {

    font-weight: lighter;
    margin-top: -5px;
    margin-bottom: 10px;
    padding-left: 23px;}

.login_bg.tab-content.confirm {
    font-size: 1.5em;
    line-height: 2;
}

.details {
    line-height: 30px;
    /*	color: #5c2e91;*/
    font-size: 2.143em;
    text-shadow: 0;
}
.table{
    background-color: #fff;
    border-radius: 3px;
    -webkit-box-shadow: 1px 0px 5px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 0px 5px 1px rgba(0,0,0,0.75);
box-shadow: 1px 0px 5px 1px rgba(0,0,0,0.75);
}
.divider {
    display: flex;
    flex-flow: row nowrap;
    margin: 15px 0;
}
.divider::before {
    content: " ";
    display: block;
    flex: 1;
    height: 1px;
    background-color: #979797;
    margin-top: 10px;
}
.divider::after {
    content: " ";
    display: block;
    flex: 1;
    height: 1px;
    background-color: #979797;
    margin-top: 10px;
}
.divider p {
    display: inline-block;
    margin: 0;
    padding: 0 10px;
    color: #979797;
}
.table th, .table td {
    border: none 0px;
}
.collapse {
    float: none;
}
.alert-info {

    color: #696969;
    font-weight: lighter;
    text-shadow: none;
}
hr
{
    border-color: #ccc;
}


.myaccount_bg{
    border-top:1px solid #ffffff!important;
    border:1px solid #cccccc;
    /*background: url("../images/bg_trans.png");*/
    /*    color: #333333;*/
    padding:20px ;
    margin:0 auto;




}
.myaccount_bg h1 {
    /*    color: #3b3b3b;	*/
    font-size:20px;
    line-height: 1;
    font-weight: bold;
}

.btn-row .alert-warning
{
    font-size: 20px!important;  
}

.prod-name{
    font-size: 18px;
    /*    color: #3b3b3b;*/
}
.producarea
{
    margin-bottom: 20px;
}
dd, dt {

    margin-bottom: 12px;
}
/*******************FACEBOOK*************/

._4z_d {
    height: auto!important;
}
._4z_d ._4z_f {
    font-size: 18px!important;
    line-height: 25px!important;
    padding: 10px!important;
}

.pluginLoginButton tbody {
    background: red none repeat scroll 0 0 !important;
    height: 400px;
}
#load {
    margin: 0 auto;
    width: 6em;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: #dedede;
    background-image: url("/presales/ev/web/images/spin.gif");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.6666;
}

body {
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: optimizeLegibility;
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: #4c334e;
    background: #3d0f43 url("/assets/images/overlay_carousel.png") no-repeat !important;
    position: relative;
    padding-bottom: 60px;
    min-height: 100%;
    font-family: 'ProximaNovaSoft-Regular', helvetica, arial, sans-serif;
}
.confirm{
    /*background-color: #fff;*/
    /*max-width: 940px;*/
    margin: 0 auto;
    min-height: 100%;
    -webkit-box-shadow: 5px 5px 12px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 5px 12px 0px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 12px 0px rgba(0,0,0,0.5);
    border-radius: 0.25rem;
    background-color: #f4f4f4;
}
.mainContent{
    padding: 0;
    /*display: -ms-grid;*/
  display: grid;
  
}
.payment_opt li a:first-child,.payment_opt li:first-child{
    border-radius: 0.25em 0 0 0 !important;
}
.payment_opt li.active a, .payment_opt li.active > a:hover,.payment_opt li.active a, .payment_opt li.active > a:focus{
    color: #603962;
    font-weight: 600;
    border: 0;
    border-right: 2px solid #603962 !important;
    border-bottom: 1px solid #603962;
}
.payment_opt li a{
    border: 0;
    border-bottom: 1px solid #936c95;
    border-radius: 0;
}
.nav-tabs > li {
    margin-bottom: 0;
}
.nav-stacked > li {
    background-color: #603962;
}
.nav-stacked > li a{
    color: #fff;

}
.nav-tabs > li > a:hover {
    background-color: #936c95;
    /*border: 0;*/
}
.nav-stacked > li + li {
    margin-top: 0;
}

.form-control {
    background-color: transparent;
    font-style: normal;
    display: block;
    width: 100%;
    height: 40px;
    padding: 6px 13px;
    background-image: none;
    border-width: 1px;
    transition: 0;
    overflow-wrap: break-word;
    overflow: hidden;
    border: 1px solid #7b7b7b;
    box-shadow: none;
    border-radius: 0;
}
.form-control::placeholder {
    color: #999;
    opacity: 1;
}

.form-control:focus {
    background-color: transparent;
    border-color: #ccc;
    outline: none;
    box-shadow: none;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: transparent
}
.btn-primary{
    color: #fff;
    background-color: #951b81;
    border-color: #951b81;
    border-radius: 0;
    width: 200px;
}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active {
    color: #fff;
    background-color: #6a135c;
    border-color: #611254;
}
#submitBtn,#changepass_btn,#reset_pwd_btn,#continue_btn,.saveParentPin{
    /*padding: 6px 12px;*/
}
.btn{
    float: right;
    color: #fff;
    padding: 15px;
    border-radius: 4px;
    font-weight: 400;
    margin-bottom: 2px;

}
.cancel_btn, .cancel_btn:hover, .cancel_btn:focus {
    float: right;
    margin: 20px;
    margin-top: 0;
    padding: 15px;
    background-color: grey;
    color: white;
    width: 200px;
    /*width: 300px;*/
}
.btn-primary.btn-xs,.cancel_btn.btn-xs,.cancel_btn.btn-xs:hover,.cancel_btn.btn-xs:focus{
    margin: 0;
    padding: 5px;
    margin-right: 5px;
    width: auto;
}
.confirm_account{
    display: flex;
    margin: 20px;
}
.navs{
    min-height: 100%;
    padding: 0;
}
.nav-tabs{
    height: 100%;
    background-color: #603962;
    border: 0;
    border-radius: 0 0 0 0.25em;
}
.tab-content{
    background-color: #fff;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    -webkit-box-shadow: 5px 5px 12px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 5px 12px 0px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 12px 0px rgba(0,0,0,0.5);
    border-radius: 0.25rem;
}
h3{
    margin-top: 0;
    color: #4F1556;
    font-weight: bold;
}
.btn-social{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}.btn-social :first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
.btn-social.btn-lg{padding-left:61px}.btn-social.btn-lg :first-child{line-height:45px;width:45px;font-size:1.8em}
.btn-social.btn-sm{padding-left:38px}.btn-social.btn-sm :first-child{line-height:28px;width:28px;font-size:1.4em}
.btn-social.btn-xs{padding-left:30px}.btn-social.btn-xs :first-child{line-height:20px;width:20px;font-size:1.2em}
.btn-social-icon{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;height:34px;width:34px;padding-left:0;padding-right:0}.btn-social-icon :first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
.btn-social-icon.btn-lg{padding-left:61px}.btn-social-icon.btn-lg :first-child{line-height:45px;width:45px;font-size:1.8em}
.btn-social-icon.btn-sm{padding-left:38px}.btn-social-icon.btn-sm :first-child{line-height:28px;width:28px;font-size:1.4em}
.btn-social-icon.btn-xs{padding-left:30px}.btn-social-icon.btn-xs :first-child{line-height:20px;width:20px;font-size:1.2em}
.btn-social-icon :first-child{border:none;text-align:center;width:100% !important}
.btn-social-icon.btn-lg{height:45px;width:45px;padding-left:0;padding-right:0}
.btn-social-icon.btn-sm{height:30px;width:30px;padding-left:0;padding-right:0}
.btn-social-icon.btn-xs{height:22px;width:22px;padding-left:0;padding-right:0}
.btn-facebook{color:#fff;background-color:#3b5998;border-color:rgba(0,0,0,0.2)}.btn-facebook:hover,.btn-facebook:focus,.btn-facebook:active,.btn-facebook.active,.open .dropdown-toggle.btn-facebook{color:#fff;background-color:#30487b;border-color:rgba(0,0,0,0.2)}
.btn-facebook:active,.btn-facebook.active,.open .dropdown-toggle.btn-facebook{background-image:none}
.btn-facebook.disabled,.btn-facebook[disabled],fieldset[disabled] .btn-facebook,.btn-facebook.disabled:hover,.btn-facebook[disabled]:hover,fieldset[disabled] .btn-facebook:hover,.btn-facebook.disabled:focus,.btn-facebook[disabled]:focus,fieldset[disabled] .btn-facebook:focus,.btn-facebook.disabled:active,.btn-facebook[disabled]:active,fieldset[disabled] .btn-facebook:active,.btn-facebook.disabled.active,.btn-facebook[disabled].active,fieldset[disabled] .btn-facebook.active{background-color:#3b5998;border-color:rgba(0,0,0,0.2)}
.socialGrp .btn-facebook .fa-facebook,.socialGrp .btn-twitter .fa-twitter{
    line-height: 2.333;
}

.social-twitter {
    background-color: #1daee3;
    border-color: #3997ba;
}
.social-twitter:hover {
    background-color: #3997ba;
    border-color: #347b95;
}

.social-facebook {
    background-color: #4c699e;
    border-color: #47618d;
}
.social-facebook:hover {
    background-color: #47618d;
    border-color: #3c5173;
}
.socialConnect{
    line-height: 2.777;
    margin-top: -5px;
}
.socialConnect .btn{
    margin: 5px;
    width: 35px;
    font-size: 20px;
    padding: 0;
}
.footable-row-detail-value .btn-social-icon.btn-facebook{
    float: left;   
}
.footable-row-detail-value .btn{
    float: left;
}
.table .btn-social-icon.btn-facebook{
    float: left;
}
.addprofile.btn{
    /*padding: 6px 12px;*/
    margin-right: 5px;
}
#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    opacity: 0.77777;
    /*background-image: url("/assets/images/spin.gif");*/
    background-repeat: no-repeat;
    background-position: center;
}

.radio {
    padding-left: 20px; }
.radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
.radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out; }
.radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #951b81;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
.radio input[type="radio"] {
    opacity: 0; }
.radio input[type="radio"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
.radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); }
.radio input[type="radio"]:disabled + label {
    opacity: 0.65; }
.radio input[type="radio"]:disabled + label::before {
    cursor: not-allowed; }
.radio.radio-inline {
    margin-top: 0; }

.radio-primary input[type="radio"] + label::after {
    background-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::before {
    border-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::after {
    background-color: #428bca; }


.checkbox {
    padding-left: 20px; }
.checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555; }
.checkbox input[type="checkbox"] {
    opacity: 0; }
.checkbox input[type="checkbox"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
.checkbox input[type="checkbox"]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\f00c"; }
.checkbox input[type="checkbox"]:disabled + label {
    opacity: 0.65; }
.checkbox input[type="checkbox"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed; }
.checkbox.checkbox-circle label::before {
    border-radius: 50%; }
.checkbox.checkbox-inline {
    margin-top: 0; }

.checkbox-primary input[type="checkbox"]:checked + label::before {
    background-color: #951b81;
    border-color: #951b81; }
.checkbox-primary input[type="checkbox"]:checked + label::after {
    color: #fff; }
.tableForm{
    padding: 20px;
}
.f_content{
    flex-flow: column nowrap;
    min-height: 460px;
    background-color: #fff;
    border: none;
    -webkit-box-shadow: 5px 5px 12px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 5px 12px 0px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 12px 0px rgba(0,0,0,0.5);
    display: block;
    max-width: 400px;
    height: auto;
    border-radius: 0.25rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.75rem;
    color: #4c4c4c;
    padding: 20px;
}
.f_content .btn{
    width: 100%;
    /*margin: 20px;*/
}
.f_content .cancel_btn{
    margin: 0;
    margin-top: 15px;
}
.btn-twitter{color:#fff;background-color:#2ba9e1;border-color:rgba(0,0,0,0.2)}.btn-twitter:hover,.btn-twitter:focus,.btn-twitter:active,.btn-twitter.active,.open .dropdown-toggle.btn-twitter{color:#fff;background-color:#1c92c7;border-color:rgba(0,0,0,0.2)}
.btn-twitter:active,.btn-twitter.active,.open .dropdown-toggle.btn-twitter{background-image:none}
.btn-twitter.disabled,.btn-twitter[disabled],fieldset[disabled] .btn-twitter,.btn-twitter.disabled:hover,.btn-twitter[disabled]:hover,fieldset[disabled] .btn-twitter:hover,.btn-twitter.disabled:focus,.btn-twitter[disabled]:focus,fieldset[disabled] .btn-twitter:focus,.btn-twitter.disabled:active,.btn-twitter[disabled]:active,fieldset[disabled] .btn-twitter:active,.btn-twitter.disabled.active,.btn-twitter[disabled].active,fieldset[disabled] .btn-twitter.active{background-color:#2ba9e1;border-color:rgba(0,0,0,0.2)}
.keepfont a{
    color: #951b81;
    font-weight: bold;
}
@media (max-width: 460px) {
    .cancel_btn, .cancel_btn:hover, .cancel_btn:focus {
        margin-right: 0;
    }
}
@media (min-width:768px) and (max-width:992px){
    .editcancel{
        margin-top: 20px;
        margin-right: 0;
    }
}
@media screen and (max-height: 480px) {
    .overlay {overflow-y: auto;}
    /*.overlay a {font-size: 20px}*/
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
@media (max-width: 768px) {
    #myNav{
        display: none;
    }
    #myNav.overlay{
        display: block;
    }
    .overlay {
        height: 0%;
        width: 60%;
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        /*background-color: rgba(0,0,0, 0.9);*/
        background-color: transparent;
        overflow-y: hidden;
        transition: 0.5s;
        border: 1px solid #333;

        -webkit-box-shadow: 5px 0 5px -2px #333;
        box-shadow: 5px 0 5px -2px #333;
    }

    .overlay-content {
        position: relative;
        top: 10%;
        width: 100%;
        text-align: left;
        margin-top: 25px;
        overflow: auto;
    }

    .overlay a {
        padding: 8px;
        text-decoration: none;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
    }

    .overlay .closebtn {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 40px;
    }
    #openNav{
        /*padding: 8px;*/
        text-decoration: none;
        color: #FBB622;
        display: block;
        transition: .3s;
        font-size: 40px;
    }
    .visible-xs.open{
        display: inline-block !important;float: left;
    }
    .confirm_account{
        display: block;
    } 
    .table-responsive > .table > tbody > tr > td, .table-responsive > .table > tbody > tr > th, .table-responsive > .table > tfoot > tr > td, .table-responsive > .table > tfoot > tr > th, .table-responsive > .table > thead > tr > td, .table-responsive > .table > thead > tr > th {
        white-space: normal;
    }
    .form_content{
        padding: 15px;
        padding-bottom: 0;
        margin: 0;
        border: 0 solid #e7e7e7;
        box-shadow: none;
    }
    .btnGrp{
        padding-right: 20px;
        padding-left: 20px;

    }
    .btnGrp button,.btnGrp button:hover,.btnGrp .btn,.btnGrp .btn:hover,#payment .form-group .btn{
        width: 100%;
        margin: 0;
        margin-bottom: 10px;
    }
    .confirm{
        margin: 0;

    }
    .container{
        margin: 0;
        padding: 0;
    }
    .tab-content {
        padding: 30px;
    }
}